<div class="new-header animated slideInDown {{#if postLocked}}locked{{/if}}">
	<div class="wrapper">
		{{#if postLocked}}
		<p class="lock-msg">You must wait {{postLockedTime}} minutes to post again.</p>
		{{else}}
		<h1>
			Throw an idea at the wall and see if it sticks…
		</h1>
		<form action="/new" method="POST" class="new-form">
			<div class="input animated">
				<input type="text" name="title" placeholder="title" />
			</div>
			<div class="input wide animated">
				<textarea name="desc" placeholder="description"></textarea>
			</div>
			{{#if user}}
				<a href="#" class="button throw" role="button">throw</a>
			{{else}}
				<a href="/auth/twitter" class="button">login</a>
			{{/if}}
		</form>
		{{/if}}
	</div>
</div>
