<div class="score-widget">
	<a href="#" class="vote-button" data-action="upvote" role="button"></a>
	<a href="#" class="vote-button" data-action="downvote" role="button"></a>
	<span class="score-box" data-score="{{this.score}}"></span>
</div>