{{> new}}

<div class="content wrapper">
{{#each posts}}
	{{> post}}
{{/each}}
</div>

<!--
<h1><a href="/">Stiikr</a></h1>
{{#if user}}
<p>Welcome {{user.username}}</p>
<p><a href="/logout">logout</a></p>

<hr />
-->
