<header class="header">
	<div class="wrapper">
		<h1>
			Throw an idea at the wall and see if it sticks… 
			<a href="#" class="button throw">throw</a>
		</h1>
	</div>
</header>

<div class="content wrapper">
{{#each posts}}
	{{> post}}
{{/each}}
</div>

<!--
<h1><a href="/">Stiikr</a></h1>
{{#if user}}
<p>Welcome {{user.username}}</p>
<p><a href="/logout">logout</a></p>

<hr />
-->

<form action="/new" method="POST">
	<h2>New Idea</h2>
	<p>
		<input type="text" name="title" placeholder="title" />
	</p>
	<p>
		<textarea name="desc" placeholder="description"></textarea>
	</p>
	<p>
		<input type="submit" value="post" />
	</p>
</form>
<!--
{{else}}
<p>Welcome! <a href="/auth/twitter">login</a></p>
{{/if}}
-->