<div class="content wrapper">
{{#each timeline}}
	<div class="stuck">
		<time class="wall-day"><span class="day">{{this.date.day}}<span> {{this.date.month}} {{this.date.year}}</time>
		{{#each this.winners}}
			{{> post}}
		{{/each}}
	</div>
{{/each}}
</div>
