.header {
	background: @primary-foreground-color;
	height: @block-size;
	padding: @block-size 0;
	color: @primary-background-color;
	transition: height .5s;
}

.header.expanded {
	height: @block-size * 5;
}

.header .wrapper {
	position: relative;
	height: 100%;
}

.header h1 {
	font-size: 2em;
	font-style: italic;
	margin: 0;
}

.header .button.throw {
	font-size: 1.75em;
	padding: 7px 45px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: background .5s, box-shadow .5s, padding .5s, font-size .5s, right .5s, bottom .5s;
}

.header.expanded .wrapper {
	width: 1280px;
}

.header.expanded .button.throw {
	background: transparent;
	box-shadow: inset 0 0 0 5px @primary-accent-color;
	padding: 34px 80px;
	font-size: 2em;
	bottom: 8px;
}

.header .new-form {
	padding-top: @block-size;
}

.header .input {
	height: @block-size * 2.75;
	background: @primary-background-color;
	width: @block-size * 8.5;
	margin-right: @block-size;
	float: left;
	opacity: 0;
	transform: scale(0);
	transition: transform .5s, opacity .5s;
}

.header .input input, .header .input textarea {
	border: none;
	background: transparent;
	outline: none;
	width: 100%;
	height: 100%;
}

.header.expanded .input {
	opacity: 1;
	transform: scale(1);
}

.header .input.wide {
	width: @block-size * 15.5;
}

.content {
	margin-top: @block-size * 2;
}


