.main-header {
	padding: 15px 0;
	background: #1a1a1a;
	background: #C3D3E5;
	color: #fff;
}

.profile-area {
	float: right;
}

.profile-area > * {
	float: right;
}

.profile-photo {
	width: 48px;
	height: 48px;
	border-radius: 50%;
//	border: 2px solid #fff;
	overflow: hidden;
	transform: scale(.8);
}

.profile-photo + p {
	margin-right: 20px;
}

.main-header h1 {
	margin: 0;
	float: left;
}

.main-nav {
	float: left;
	margin-top: -5px;
}

.main-nav li {
	float: left;
	margin-right: 50px;
	list-style-type: none;
	margin-left: 30px;
}

.new-header {
	background: @primary-foreground-color;
	color: @primary-background-color;
	transition: height .5s;
	overflow: hidden;
	height: 0;
	padding: 0;
	transition: height 1s, padding 1s;
}

.pageLoaded .new-header {
	height: @block-size;
	padding: @block-size 0;
}

.pageLoaded .new-header.locked {
	height: @block-size / 2;
	padding: (@block-size / 8 * 3) 0;
}

.new-header.locked .lock-msg {
//	color: @primary-foreground-color;
	margin: 0;
}

.new-header.expanded {
	height: @block-size * 4.5;
}

.new-header .wrapper {
	position: relative;
	height: 100%;
	transition: width .5s;
}

.new-header h1 {
	font-size: 2em;
	font-style: italic;
	margin: 0;
}

.new-header .button {
	font-size: 1.75em;
	padding: 7px 45px;
	position: absolute;
	right: 0;
	bottom: 0;
	transition: background .5s, box-shadow .5s, padding .5s, font-size .5s, bottom .5s;
}

.new-header.expanded .wrapper {
	width: 1280px;
}

.new-header.expanded .button.throw {
	background: transparent;
	box-shadow: inset 0 0 0 5px @primary-accent-color;
	padding: 35px 80px;
	font-size: 2em;
	bottom: -10px;
}

.new-header .new-form {
	padding-top: @block-size;
	height: 0;
}

.new-header.expanded .new-form {
//	height: @block-size * 2.75;
}

.new-header .input {
	height: @block-size * 2.75;
	width: @block-size * 8.5;
	background: @primary-background-color;
	margin-right: @block-size;
	float: left;
}

.new-header .input input, .new-header .input textarea {
	border: none;
	background: transparent;
	outline: none;
	width: 100%;
	height: 100%;
}

.new-header .input input {
	color: @primary-accent-color;
	font-size: 2em;
	text-align: center;
}

.new-header .input textarea {
	resize: none;
	width: @block-size * 14;
	font-size: 1em;
	display: block;
	margin: 20px auto;
}

.new-header.expanded .input {

}

.new-header .input.wide {
	width: @block-size * 15.5;
//	position: absolute;
//	bottom: 10px;
//	left: 380px;
}

.content {
	margin-top: @block-size;
}

.main-footer {
	color: #555;
}

.main-footer > .wrapper {
	padding: 15px 0;
	border-top: 1px solid #ccc;
}

.main-footer > nav > ul {
	width: 360px
}

.main-footer > nav > ul > li {
	list-style-type: none;
	float: left;
	margin-right: 50px;
}

.main-footer > nav > ul > li:last-of-type {
		margin-right: 0;
}




































