.header {
	background: @primary-foreground-color;
	height: @block-size;
	padding: @block-size 0;
	color: @primary-background-color;
	transition: height .5s;
}

.header.expand {
	height: @block-size * 5;
}

.header h1 {
	font-size: 2em;
	font-style: italic;
	margin: 0;
}

.header .button {
	float: right;
	font-size: .75em;
	padding: 7px 45px;
}

.content {
	margin-top: @block-size * 2;
}


