html, body {
	font-family: @main-font;
	color: @primary-foreground-color;
	background-color: @primary-background-color;
}

.wrapper {
	width: @desktop-width;
	margin: 0 auto;
}

.button, a.button {
	color: @secondary-background-color;
	text-decoration: none;
	background: @primary-accent-color;
}