html, body {
	font-family: @main-font;
	color: @primary-foreground-color;
	background-color: @primary-background-color;
}

.wrapper {
	width: @desktop-width;
	margin: 0 auto;
}

.button, a.button {
	color: @secondary-background-color;
	text-decoration: none;
	background: @primary-accent-color;
	font-style: normal;
	font-weight: normal;
}

.score-widget {
	height: @block-size * 2;
	background: red;
}

.vote-button {
	width: @block-size * .925;
	height: @block-size * .925;
	float: left;
	display: block;
}

.vote-button:first-of-type {
	margin-bottom: @block-size * .15;
}

.vote-button {
	box-shadow: inset 0 0 0 3px @primary-foreground-color;
}

.vote-button[data-action="upvote"] {
	box-shadow: inset 0 0 0 3px @primary-accent-color;
}

.score-box {
	height: @block-size * 2;
	width: @block-size * 2;
	background-color: @secondary-background-color;	
}

.score-box:after {
	color: @secondary-foreground-color;
}







